@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: #3D3D3D;
}

.intro-content {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #3D3D3D;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}

.intro-content .hide {
  overflow: hidden;
}

.intro-content .hide #logo {
  width: 20vw;
}

.intro-content .slider {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #F2922E;
  position: fixed;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 999;
}

.main {
  width: 100vw;
  min-width: 1000px;
  height: 100vh;
  min-height: 900px;
  background-color: #3D3D3D;
  font-family: "Poppins", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 13% 82% 5%;
      grid-template-rows: 13% 82% 5%;
}

@media (min-width: 1100px) and (max-width: 1180px) {
  .main {
    min-width: 400px;
    min-height: 830px;
  }
}

@media (min-width: 900px) and (max-width: 1099px) {
  .main {
    min-width: 400px;
    min-height: 830px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .main {
    min-width: 400px;
    min-height: 830px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .main {
    min-width: 400px;
    min-height: 600px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .main {
    min-width: 300px;
    min-height: 800px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .main {
    min-width: 200px;
    min-height: 830px;
  }
}

.header {
  width: 100%;
  height: 80%;
  background-color: #3D3D3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid black;
}

.header .navbar {
  width: 60%;
  height: 100%;
  min-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar .logo-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navbar .logo-navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navbar .logo-navbar a #logo {
  width: 80px;
}

.header .navbar .menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  display: none;
}

.header .navbar .menu-btn__burger {
  width: 40px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .navbar .menu-btn__burger::before,
.header .navbar .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .navbar .menu-btn__burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.header .navbar .menu-btn__burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.header .navbar .menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .navbar .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.header .navbar .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .nav-links li {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header .navbar .nav-links li a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 80px;
  color: rgba(196, 196, 196, 0.9);
}

@media (min-width: 1100px) and (max-width: 1180px) {
  .header .navbar {
    width: 95%;
    min-width: 400px;
  }
}

@media (min-width: 900px) and (max-width: 1099px) {
  .header .navbar {
    width: 95%;
    min-width: 400px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .header .navbar {
    width: 95%;
    min-width: 400px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .header .navbar {
    width: 95%;
    min-width: 400px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .navbar .logo-navbar {
    display: none;
  }
  .header .navbar .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar .nav-links {
    display: none;
  }
  .header .navbar .nav-links.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 89vh;
    z-index: 99;
    background-color: #3D3D3D;
  }
  .header .navbar .nav-links.show li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .navbar .nav-links.show li a {
    margin-left: 0;
    font-size: 80px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .header .navbar {
    width: 95%;
    min-width: 400px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .navbar .logo-navbar {
    display: none;
  }
  .header .navbar .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar .nav-links {
    display: none;
  }
  .header .navbar .nav-links.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 89vh;
    z-index: 99;
    background-color: #3D3D3D;
  }
  .header .navbar .nav-links.show li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .navbar .nav-links.show li a {
    margin-left: 0;
    font-size: 80px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .header .navbar {
    width: 95%;
    min-width: 200px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .navbar .logo-navbar {
    display: none;
  }
  .header .navbar .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar .nav-links {
    display: none;
  }
  .header .navbar .nav-links.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 89vh;
    z-index: 99;
    background-color: #3D3D3D;
  }
  .header .navbar .nav-links.show li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .navbar .nav-links.show li a {
    margin-left: 0;
    font-size: 80px;
  }
}

.footer {
  width: 100%;
  height: 100%;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  font-weight: 0;
  color: #DFDFE2;
}

@media (min-width: 300px) and (max-width: 400px) {
  .footer {
    font-size: 2vw;
  }
}

.content {
  width: 60%;
  height: 100%;
  min-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3D3D3D;
  position: static;
  margin: auto;
}

@media (min-width: 1100px) and (max-width: 1180px) {
  .content {
    width: 95%;
    min-width: 400px;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .content {
    width: 95%;
    min-width: 400px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .content {
    width: 95%;
    min-width: 400px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .content {
    width: 95%;
    min-width: 400px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .content {
    width: 95%;
    min-width: 400px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .content {
    width: 100%;
    min-width: 200px;
  }
}

.home {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5%)[20];
      grid-template-rows: repeat(20, 5%);
  -ms-grid-columns: (5%)[20];
      grid-template-columns: repeat(20, 5%);
}

.home h1 {
  text-align: justify;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  grid-column-end: 6;
  font-size: 110px;
  color: #F2922E;
}

.home h2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 4;
      grid-row-start: 4;
  color: #DFDFE2;
  font-size: 60px;
}

.home .logo-home {
  display: none;
}

.home p {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 14;
  font-size: 25px;
  margin-right: 20px;
  color: #DFDFE2;
}

.home .img-main {
  width: 430px;
  border-radius: 16px;
  -ms-grid-column: 13;
      grid-column-start: 13;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.home span {
  height: 120px;
  background-color: #F2922E;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 15;
      grid-row-start: 15;
  opacity: 0.9;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home span button {
  width: 300px;
  height: 75px;
  margin-left: 80px;
  border-radius: 16px;
  border: none;
  background-color: #DFDFE2;
}

.home span button a {
  color: #3D3D3D;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 1100px) and (max-width: 1180px) {
  .home h1 {
    font-size: 100px;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .home h2 {
    font-size: 50px;
    -ms-grid-row: 4;
        grid-row-start: 4;
    margin-top: 30px;
  }
  .home p {
    font-size: 25px;
    -ms-grid-row: 7;
        grid-row-start: 7;
  }
  .home .img-main {
    width: 35vw;
    min-width: 371px;
    -ms-grid-row: 2;
        grid-row-start: 2;
    margin-top: 36px;
  }
  .home span {
    -ms-grid-row: 15;
        grid-row-start: 15;
    height: 80px;
    border-radius: 12px;
  }
  .home span button {
    width: 200px;
    height: 60px;
  }
  .home span button a {
    font-size: 25px;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .home h1 {
    font-size: 100px;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .home h2 {
    font-size: 50px;
    -ms-grid-row: 5;
        grid-row-start: 5;
    margin-top: 30px;
  }
  .home p {
    font-size: 22px;
    -ms-grid-row: 8;
        grid-row-start: 8;
  }
  .home .img-main {
    width: 37vw;
    -ms-grid-row: 3;
        grid-row-start: 3;
    margin-top: 36px;
  }
  .home span {
    -ms-grid-row: 14;
        grid-row-start: 14;
    height: 80px;
    border-radius: 12px;
  }
  .home span button {
    width: 200px;
    height: 60px;
  }
  .home span button a {
    font-size: 25px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .home h1 {
    font-size: 100px;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .home h2 {
    font-size: 50px;
    -ms-grid-row: 5;
        grid-row-start: 5;
    margin-top: 30px;
  }
  .home p {
    font-size: 22px;
    -ms-grid-row: 8;
        grid-row-start: 8;
  }
  .home .img-main {
    width: 37vw;
    -ms-grid-row: 3;
        grid-row-start: 3;
    margin-top: 36px;
  }
  .home span {
    -ms-grid-row: 14;
        grid-row-start: 14;
    height: 80px;
    border-radius: 12px;
  }
  .home span button {
    width: 200px;
    height: 60px;
  }
  .home span button a {
    font-size: 25px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home h1 {
    display: none;
  }
  .home h2 {
    display: none;
  }
  .home .logo-home {
    display: inline-block;
    width: 300px;
  }
  .home p {
    font-size: 22px;
    text-align: center;
  }
  .home .img-main {
    display: none;
  }
  .home span {
    height: 80px;
    border-radius: 12px;
    margin-bottom: 130px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home span button {
    width: 200px;
    height: 60px;
    margin-left: 0;
  }
  .home span button a {
    font-size: 25px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home h1 {
    display: none;
  }
  .home h2 {
    display: none;
  }
  .home .logo-home {
    display: inline-block;
    width: 300px;
  }
  .home p {
    font-size: 22px;
    text-align: center;
  }
  .home .img-main {
    display: none;
  }
  .home span {
    height: 80px;
    border-radius: 12px;
    margin-bottom: 130px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home span button {
    width: 200px;
    height: 60px;
    margin-left: 0;
  }
  .home span button a {
    font-size: 25px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home h1 {
    display: none;
  }
  .home h2 {
    display: none;
  }
  .home .logo-home {
    display: inline-block;
    width: 200px;
  }
  .home p {
    font-size: 5vw;
    text-align: center;
  }
  .home .img-main {
    display: none;
  }
  .home span {
    height: 80px;
    border-radius: 12px;
    margin-bottom: 130px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home span button {
    width: 200px;
    height: 60px;
    margin-left: 0;
  }
  .home span button a {
    font-size: 25px;
  }
}

.obras {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5%)[80];
      grid-template-rows: repeat(80, 5%);
  -ms-grid-columns: (5%)[20];
      grid-template-columns: repeat(20, 5%);
  background-color: #3D3D3D;
}

.obras .obras-title-1 {
  font-size: 90px;
  color: #F2922E;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.obras .obras-span-1 {
  height: 80px;
  background-color: #F2922E;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  margin-top: 30px;
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.obras .obras-span-1 .obras-ejecucion {
  font-size: 60px;
  color: #3D3D3D;
}

.obras #proyecto {
  font-size: 12px;
}

.obras .proyecto-1 {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 7;
      grid-row-start: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.1);
}

.obras .proyecto-1 img {
  height: 200px;
  border-radius: 16px 0 0 16px;
}

.obras .proyecto-1 .proyecto-descripcion {
  padding: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #DFDFE2;
}

.obras .proyecto-2 {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 14;
      grid-row-start: 14;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obras .proyecto-2 img {
  height: 200px;
  border-radius: 16px 0 0 16px;
}

.obras .proyecto-2 .proyecto-descripcion {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #DFDFE2;
}

.obras .proyecto-3 {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 26;
      grid-row-start: 26;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obras .proyecto-3 img {
  height: 200px;
  border-radius: 16px 0 0 16px;
}

.obras .proyecto-3 .proyecto-descripcion {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #DFDFE2;
}

.obras .proyecto-4 {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 33;
      grid-row-start: 33;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obras .proyecto-4 img {
  height: 200px;
  border-radius: 16px 0 0 16px;
}

.obras .proyecto-4 .proyecto-descripcion {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #DFDFE2;
}

.obras .proyecto-5 {
  height: 200px;
  width: 100%;
  border-radius: 16px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 40;
      grid-row-start: 40;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.obras .proyecto-5 img {
  height: 200px;
  border-radius: 16px 0 0 16px;
}

.obras .proyecto-5 .proyecto-descripcion {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #DFDFE2;
}

.obras .obras-title-2 {
  font-size: 90px;
  color: #F2922E;
  -ms-grid-row: 20;
      grid-row-start: 20;
}

.obras .obras-span-2 {
  height: 80px;
  background-color: #F2922E;
  -ms-grid-row: 22;
      grid-row-start: 22;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  margin-top: 30px;
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.obras .obras-span-2 .obras-finalizadas {
  font-size: 60px;
  color: #3D3D3D;
}

.obras .footer {
  -ms-grid-row: 46;
      grid-row-start: 46;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  width: 100%;
  text-align: center;
}

@media (min-width: 1100px) and (max-width: 1180px) {
  .obras .obras-span-1 {
    height: 70px;
    margin-top: 35px;
  }
  .obras .obras-span-1 .obras-ejecucion {
    font-size: 50px;
  }
  .obras .obras-span-2 {
    height: 70px;
    margin-top: 35px;
  }
  .obras .obras-span-2 .obras-finalizadas {
    font-size: 50px;
  }
  .obras #proyecto {
    font-size: 10px;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .obras .obras-span-1 {
    height: 65px;
    margin-top: 35px;
  }
  .obras .obras-span-1 .obras-ejecucion {
    font-size: 50px;
  }
  .obras .obras-span-2 {
    height: 65px;
    margin-top: 35px;
  }
  .obras .obras-span-2 .obras-finalizadas {
    font-size: 50px;
  }
  .obras #proyecto {
    font-size: 10px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .obras .obras-span-1 {
    height: 65px;
    margin-top: 35px;
  }
  .obras .obras-span-1 .obras-ejecucion {
    font-size: 50px;
  }
  .obras .obras-span-2 {
    height: 65px;
    margin-top: 35px;
  }
  .obras .obras-span-2 .obras-finalizadas {
    font-size: 50px;
  }
  .obras #proyecto {
    font-size: 10px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .obras {
    -ms-grid-rows: (5%)[160];
        grid-template-rows: repeat(160, 5%);
  }
  .obras .obras-title-1 {
    font-size: 80px;
  }
  .obras .obras-title-2 {
    font-size: 80px;
    -ms-grid-row: 36;
        grid-row-start: 36;
  }
  .obras .obras-span-1 {
    height: 55px;
    margin-top: 30px;
  }
  .obras .obras-span-1 .obras-ejecucion {
    font-size: 40px;
  }
  .obras .obras-span-2 {
    height: 55px;
    margin-top: 30px;
    -ms-grid-row: 38;
        grid-row-start: 38;
  }
  .obras .obras-span-2 .obras-finalizadas {
    font-size: 40px;
  }
  .obras #proyecto {
    font-size: 10px;
  }
  .obras .proyecto-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 480px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .obras .proyecto-1 img {
    margin: 10px 0 10px 0;
    width: 70%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-1 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 21;
        grid-row-start: 21;
  }
  .obras .proyecto-2 img {
    margin: 10px 0 10px 0;
    width: 70%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-2 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 41;
        grid-row-start: 41;
  }
  .obras .proyecto-3 img {
    margin: 20px 0 20px 0;
    width: 70%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-3 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 56;
        grid-row-start: 56;
  }
  .obras .proyecto-4 img {
    margin: 20px 0 20px 0;
    width: 70%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-4 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 71;
        grid-row-start: 71;
  }
  .obras .proyecto-5 img {
    margin: 20px 0 20px 0;
    width: 70%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-5 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .footer {
    -ms-grid-row: 86;
        grid-row-start: 86;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .obras {
    -ms-grid-rows: (5%)[160];
        grid-template-rows: repeat(160, 5%);
  }
  .obras .obras-title-1 {
    font-size: 80px;
  }
  .obras .obras-title-2 {
    font-size: 80px;
    -ms-grid-row: 36;
        grid-row-start: 36;
  }
  .obras .obras-span-1 {
    height: 55px;
    margin-top: 30px;
  }
  .obras .obras-span-1 .obras-ejecucion {
    font-size: 40px;
  }
  .obras .obras-span-2 {
    height: 55px;
    margin-top: 30px;
    -ms-grid-row: 38;
        grid-row-start: 38;
  }
  .obras .obras-span-2 .obras-finalizadas {
    font-size: 40px;
  }
  .obras #proyecto {
    font-size: 10px;
  }
  .obras .proyecto-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 480px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .obras .proyecto-1 img {
    margin: 10px 0 10px 0;
    width: 95%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-1 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 21;
        grid-row-start: 21;
  }
  .obras .proyecto-2 img {
    margin: 10px 0 10px 0;
    width: 95%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-2 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 41;
        grid-row-start: 41;
  }
  .obras .proyecto-3 img {
    margin: 20px 0 20px 0;
    width: 95%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-3 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 56;
        grid-row-start: 56;
  }
  .obras .proyecto-4 img {
    margin: 20px 0 20px 0;
    width: 95%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-4 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 71;
        grid-row-start: 71;
  }
  .obras .proyecto-5 img {
    margin: 20px 0 20px 0;
    width: 95%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-5 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .footer {
    -ms-grid-row: 87;
        grid-row-start: 87;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .obras {
    -ms-grid-rows: (5%)[160];
        grid-template-rows: repeat(160, 5%);
  }
  .obras .obras-title-1 {
    font-size: 80px;
  }
  .obras .obras-title-2 {
    font-size: 80px;
    -ms-grid-row: 36;
        grid-row-start: 36;
  }
  .obras .obras-span-1 {
    height: 55px;
    margin-top: 30px;
  }
  .obras .obras-span-1 .obras-ejecucion {
    font-size: 40px;
  }
  .obras .obras-span-2 {
    height: 55px;
    margin-top: 30px;
    -ms-grid-row: 38;
        grid-row-start: 38;
  }
  .obras .obras-span-2 .obras-finalizadas {
    font-size: 40px;
  }
  .obras #proyecto {
    font-size: 10px;
  }
  .obras .proyecto-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 480px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .obras .proyecto-1 img {
    margin: 10px 0 10px 0;
    width: 95%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-1 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 21;
        grid-row-start: 21;
  }
  .obras .proyecto-2 img {
    margin: 10px 0 10px 0;
    width: 95%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-2 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 41;
        grid-row-start: 41;
  }
  .obras .proyecto-3 img {
    margin: 20px 0 20px 0;
    width: 95%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-3 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 56;
        grid-row-start: 56;
  }
  .obras .proyecto-4 img {
    margin: 20px 0 20px 0;
    width: 95%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-4 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .proyecto-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 71;
        grid-row-start: 71;
  }
  .obras .proyecto-5 img {
    margin: 20px 0 20px 0;
    width: 95%;
    height: auto;
    border-radius: 12px 12px 12px 12px;
  }
  .obras .proyecto-5 .proyecto-descripcion {
    font-size: 10px;
    height: 100%;
  }
  .obras .footer {
    -ms-grid-row: 86;
        grid-row-start: 86;
  }
}

.empresa {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5%)[20];
      grid-template-rows: repeat(20, 5%);
  -ms-grid-columns: (5%)[20];
      grid-template-columns: repeat(20, 5%);
}

.empresa h1 {
  font-size: 90px;
  color: #F2922E;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.empresa span {
  height: 80px;
  background-color: #F2922E;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  margin-top: 30px;
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.empresa span h2 {
  font-size: 60px;
  color: #3D3D3D;
}

.empresa p {
  font-size: 18px;
  margin-top: 20px;
}

.empresa .text-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 6;
      grid-row-start: 6;
  color: #DFDFE2;
}

.empresa .text-2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 10;
      grid-row-start: 10;
  color: #DFDFE2;
}

.empresa .text-3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 14;
      grid-row-start: 14;
  color: #DFDFE2;
}

.empresa img {
  width: 400px;
  border-radius: 16px;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 13;
      grid-column-start: 13;
  margin-top: 25px;
  margin-left: 30px;
}

@media (min-width: 1100px) and (max-width: 1180px) {
  .empresa span {
    height: 70px;
    margin-top: 35px;
  }
  .empresa span h2 {
    font-size: 50px;
  }
  .empresa p {
    font-size: 16px;
  }
  .empresa img {
    width: 32vw;
    border-radius: 12px;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .empresa h1 {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .empresa span {
    height: 70px;
    margin-top: 35px;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .empresa span h2 {
    font-size: 50px;
  }
  .empresa p {
    font-size: 16px;
  }
  .empresa .text-1 {
    -ms-grid-row: 7;
        grid-row-start: 7;
  }
  .empresa .text-2 {
    -ms-grid-row: 11;
        grid-row-start: 11;
  }
  .empresa .text-3 {
    -ms-grid-row: 15;
        grid-row-start: 15;
  }
  .empresa img {
    width: 34vw;
    border-radius: 12px;
    -ms-grid-column: 12;
        grid-column-start: 12;
    -ms-grid-row: 5;
        grid-row-start: 5;
    margin-left: 50px;
    min-width: 319px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .empresa h1 {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .empresa span {
    height: 70px;
    margin-top: 35px;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .empresa span h2 {
    font-size: 50px;
  }
  .empresa p {
    font-size: 14px;
  }
  .empresa .text-1 {
    -ms-grid-row: 7;
        grid-row-start: 7;
  }
  .empresa .text-2 {
    -ms-grid-row: 11;
        grid-row-start: 11;
  }
  .empresa .text-3 {
    -ms-grid-row: 15;
        grid-row-start: 15;
  }
  .empresa img {
    width: 34vw;
    border-radius: 12px;
    -ms-grid-column: 12;
        grid-column-start: 12;
    -ms-grid-row: 5;
        grid-row-start: 5;
    margin-left: 50px;
    min-width: 280px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .empresa h1 {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .empresa span {
    height: 70px;
    margin-top: 35px;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .empresa span h2 {
    font-size: 50px;
  }
  .empresa p {
    font-size: 16px;
  }
  .empresa .text-1 {
    text-align: justify;
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .empresa .text-2 {
    text-align: justify;
    -ms-grid-row: 11;
        grid-row-start: 11;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .empresa .text-3 {
    text-align: justify;
    -ms-grid-row: 15;
        grid-row-start: 15;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .empresa img {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .empresa h1 {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .empresa span {
    height: 70px;
    margin-top: 35px;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .empresa span h2 {
    font-size: 50px;
  }
  .empresa p {
    font-size: 14px;
  }
  .empresa .text-1 {
    text-align: justify;
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .empresa .text-2 {
    text-align: justify;
    -ms-grid-row: 11;
        grid-row-start: 11;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .empresa .text-3 {
    text-align: justify;
    -ms-grid-row: 15;
        grid-row-start: 15;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .empresa img {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .empresa h1 {
    font-size: 80px;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .empresa span {
    height: 55px;
    margin-top: 25px;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .empresa span h2 {
    font-size: 40px;
  }
  .empresa p {
    font-size: 12px;
  }
  .empresa .text-1 {
    text-align: justify;
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .empresa .text-2 {
    text-align: justify;
    -ms-grid-row: 11;
        grid-row-start: 11;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .empresa .text-3 {
    text-align: justify;
    -ms-grid-row: 15;
        grid-row-start: 15;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 21;
  }
  .empresa img {
    display: none;
  }
}

.contacto {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5%)[20];
      grid-template-rows: repeat(20, 5%);
  -ms-grid-columns: (5%)[20];
      grid-template-columns: repeat(20, 5%);
}

.contacto h1 {
  font-size: 90px;
  color: #F2922E;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.contacto span {
  height: 150px;
  background-color: #F2922E;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  margin-top: 30px;
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
}

.contacto .maps {
  width: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 21;
  -ms-grid-row: 8;
      grid-row-start: 8;
}

@media (min-width: 1100px) and (max-width: 1180px) {
  .contacto span {
    margin-top: 35px;
    height: 130px;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .contacto span {
    margin-top: 37px;
    height: 130px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .contacto span {
    margin-top: 37px;
    height: 130px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .contacto span {
    margin-top: 37px;
    height: 130px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .contacto h1 {
    font-size: 70px;
  }
  .contacto span {
    margin-top: 37px;
    height: 130px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .contacto h1 {
    font-size: 60px;
  }
  .contacto span {
    margin-top: 37px;
    height: 130px;
  }
}
/*# sourceMappingURL=style.css.map */