@import 'variables';

.empresa{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);
    
    h1{
        font-size: 90px;
        color: $color-main-2;
        grid-row-start: 1;
    }
    span{
        height: 80px;
        background-color: $color-main-2;

        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 21;
        margin-top: 30px;

        padding-left: 5px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        h2{
            font-size: 60px;
        }
    }
    p{
        font-size: 18px;        
        margin-top: 20px;
    }
    .text-1{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 6;
    }
    .text-2{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 10;
    }
    .text-3{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 14;
    }
    img{
        width: 400px;
        border-radius: 16px;

        grid-row-start: 4;
        grid-column-start: 13;
        margin-top: 25px;

        margin-left: 30px;
    }
}

@media (min-width: 1100px) and (max-width: 1180px){
    .empresa{
        span{
            height: 70px;
            margin-top: 35px;
            h2{
                font-size: 50px;
            }           
        }
        p{
            font-size: 16px;
        }
        img{
            width: 32vw;
            border-radius: 12px;
        }
    }   
}

@media (min-width: 900px) and (max-width: 1100px){
    .empresa{
        h1{
            grid-row-start: 2;
        }
        span{
            height: 70px;
            margin-top: 35px;
            grid-row-start: 4;
            h2{
                font-size: 50px;
            }           
        }
        p{
            font-size: 16px;
        }
        .text-1{
            grid-row-start: 7;
        }
        .text-2{
            grid-row-start: 11;           
        }
        .text-3{
            grid-row-start: 15;           
        }
        img{
            width: 34vw;
            border-radius: 12px;
            grid-column-start: 12;
            grid-row-start: 5;
            margin-left: 50px;            
            min-width: 319px;
        }
    }       
}

@media (min-width: 800px) and (max-width: 900px){
    .empresa{
        h1{
            grid-row-start: 2;
        }
        span{
            height: 70px;
            margin-top: 35px;
            grid-row-start: 4;
            h2{
                font-size: 50px;
            }           
        }
        p{
            font-size: 14px;
        }
        .text-1{
            grid-row-start: 7;
        }
        .text-2{
            grid-row-start: 11;           
        }
        .text-3{
            grid-row-start: 15;           
        }
        img{
            width: 34vw;
            border-radius: 12px;
            grid-column-start: 12;
            grid-row-start: 5;
            margin-left: 50px;            
            min-width: 280px;
        }
    }       
}

@media (min-width: 600px) and (max-width: 800px){
    .empresa{
        h1{
            grid-row-start: 2;
        }
        span{
            height: 70px;
            margin-top: 35px;
            grid-row-start: 4;
            h2{
                font-size: 50px;
            }           
        }
        p{
            font-size: 16px;
        }
        .text-1{
            text-align: justify;
            grid-row-start: 7;
            grid-column-start: 1;
            grid-column-end: 21;            
        }
        .text-2{
            text-align: justify;
            grid-row-start: 11;
            grid-column-start: 1;
            grid-column-end: 21;
        }
        .text-3{
            text-align: justify;
            grid-row-start: 15;
            grid-column-start: 1;
            grid-column-end: 21;
        }
        img{
            display: none;
        }
    }       
}

@media (min-width: 400px) and (max-width: 600px){
    .empresa{
        h1{
            grid-row-start: 2;
        }
        span{
            height: 70px;
            margin-top: 35px;
            grid-row-start: 4;
            h2{
                font-size: 50px;
            }           
        }
        p{
            font-size: 14px;
        }
        .text-1{
            text-align: justify;
            grid-row-start: 7;
            grid-column-start: 1;
            grid-column-end: 21;
        }
        .text-2{
            text-align: justify;
            grid-row-start: 11;
            grid-column-start: 1;
            grid-column-end: 21;
        }
        .text-3{
            text-align: justify;
            grid-row-start: 15;
            grid-column-start: 1;
            grid-column-end: 21;
        }
        img{
            display: none;
        }
    }       
}

@media (min-width: 300px) and (max-width: 400px){
    .empresa{
        h1{
            font-size: 80px;
            grid-row-start: 2;
        }
        span{
            height: 55px;
            margin-top: 25px;
            grid-row-start: 4;
            h2{
                font-size: 40px;
            }           
        }
        p{
            font-size: 12px;
        }
        .text-1{
            text-align: justify;
            grid-row-start: 7;
            grid-column-start: 1;
            grid-column-end: 21;
        }
        .text-2{
            text-align: justify;
            grid-row-start: 11;
            grid-column-start: 1;
            grid-column-end: 21;
        }
        .text-3{
            text-align: justify;
            grid-row-start: 15; 
            grid-column-start: 1;
            grid-column-end: 21;
            
        }
        img{
            display: none;
        }
    }       
}