@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{    
    height: 100vh;
    position: relative;    
    overflow: hidden;
    overflow-y: auto;
    background-color: $color-main-3;    
}

body::-webkit-scrollbar {
    width: 0.7em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: $font-color-2;
  outline: $font-color-4;
  border-radius: 12px;
}

@media (min-width: 600px) and (max-width: 800px){
    body::-webkit-scrollbar {
        width: 0.5em;
    }   
}

@media (min-width: 400px) and (max-width: 600px){
    body::-webkit-scrollbar {
        width: 0.3em;
    }   
}

@media (min-width: 300px) and (max-width: 400px){
    body::-webkit-scrollbar {
        width: 0.3em;
    }   
}