@import 'variables';

.home{
    display: grid;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);
    width: 100%;
    height: 100%;
    h1{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-end: 6;
        text-align: justify;
        font-size: 110px;
        color: $color-main-2;
    }
    h2{
        grid-column-start: 1;
        grid-row-start: 4;
        color: $font-color-4;
        font-size: 60px;
    }
    .logo-home{
        display: none;
    }
    p{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 6;
        grid-row-end: 14;
        margin-right: 20px;
        font-size: 25px;
        color: $font-color-4;
    }
    .img-main{
        grid-column-start: 13;
        grid-row-start: 3;
        width: 430px;
        border-radius: 16px;
    }
    span{            
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 15;
        height: 120px;
        background-color: $color-main-2;
        opacity: 0.9;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        button{
            width: 300px;
            height: 75px;
            margin-left: 80px;
            cursor: pointer;
            border-radius: 16px;
            border: none;
            background-color: $color-main;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3),
                        -4px -4px 8px rgba(0, 0, 0, 0.1);
            transition: all .3s ease;
            a{
                color: $font-color-3;
                font-size: 30px;
                cursor: pointer;
                text-decoration: none;
                transition: all .3s ease;
                &:hover{
                    color: $color-main-2;
                }
            }
        }
    }
}

@media (min-width: 1100px) and (max-width: 1180px){
    .home{
        h1{
            font-size: 100px;
            grid-row-start: 2;
        }
        h2{
            font-size: 50px;
            grid-row-start: 4;
            margin-top: 30px;
        }
        p{
            font-size: 25px;
            grid-row-start: 7;
        }
        .img-main{
            width: 35vw;
            min-width: 371px;
            grid-row-start: 2;
            margin-top: 36px;
        }
        span{                    
            grid-row-start: 15;
            height: 80px;
            border-radius: 12px;

            button{
                width: 200px;
                height: 60px;
                a{
                    font-size: 25px;
                }
            }
        }
    }
}

@media (min-width: 900px) and (max-width: 1100px){
    .home{
        h1{
            font-size: 100px;
            grid-row-start: 3;
        }
        h2{
            font-size: 50px;
            grid-row-start: 5;
            margin-top: 30px;
        }
        p{
            font-size: 22px;
            grid-row-start: 8;
        }
        .img-main{
            width: 37vw;            
            grid-row-start: 3;
            margin-top: 36px;
        }
        span{                    
            grid-row-start: 14;
            height: 80px;
            border-radius: 12px;

            button{
                width: 200px;
                height: 60px;
                a{
                    font-size: 25px;
                }
            }
        }
    }
}

@media (min-width: 800px) and (max-width: 900px){
    .home{        
        h1{
            font-size: 100px;
            grid-row-start: 3;
        }
        h2{
            font-size: 50px;
            grid-row-start: 5;
            margin-top: 30px;
        }
        p{
            font-size: 22px;
            grid-row-start: 8;
        }
        .img-main{
            width: 37vw;            
            grid-row-start: 3;
            margin-top: 36px;
        }
        span{                    
            grid-row-start: 14;
            height: 80px;
            border-radius: 12px;

            button{
                width: 200px;
                height: 60px;
                a{
                    font-size: 25px;
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .home{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1{
            display: none;
        }
        h2{
            display: none;
        }
        .logo-home{
            display: inline-block;
            width: 300px;
        }
        p{
            font-size: 22px;            
            text-align: center;
            
        }
        .img-main{
            display: none;
        }
        span{            
            height: 80px;
            border-radius: 12px;
            margin-bottom: 130px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                width: 200px;
                height: 60px;
                margin-left: 0;
                a{
                    font-size: 25px;
                }
            }
        }
    }
}

@media (min-width: 400px) and (max-width: 600px){
    .home{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1{
            display: none;
        }
        h2{
            display: none;
        }
        .logo-home{
            display: inline-block;
            width: 300px;
        }
        p{
            font-size: 22px;            
            text-align: center;
            
        }
        .img-main{
            display: none;
        }
        span{            
            height: 80px;
            border-radius: 12px;
            margin-bottom: 130px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                width: 200px;
                height: 60px;
                margin-left: 0;                
                a{
                    font-size: 25px;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 400px){
    .home{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1{
            display: none;
        }
        h2{
            display: none;
        }
        .logo-home{
            display: inline-block;
            width: 200px;
        }
        p{
            font-size: 5vw;            
            text-align: center;
            margin-right: 0;            
        }
        .img-main{
            display: none;
        }
        span{            
            height: 80px;
            border-radius: 12px;
            margin-bottom: 130px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                width: 200px;
                height: 60px;
                margin-left: 0;
                a{
                    font-size: 25px;
                }
            }
        }
    }
}