@import 'variables';

.main{    
    display: grid;
    grid-template-rows: 8% 87% 5%;
    width: 100vw;
    min-width: 1000px;    
    height: 100vh;
    min-height: 900px;    
    background-color:$color-main-3;
    font-family: $font-main;
    
}

@media (min-width: 1100px) and (max-width: 1180px){
    .main{
        min-width: 400px;
        min-height: 830px;        
    }
}

@media (min-width: 900px) and (max-width: 1099px){
    .main{
        min-width: 400px;
        min-height: 830px;
    }
}

@media (min-width: 800px) and (max-width: 900px){
    .main{
        min-width: 400px;
        min-height: 830px;
    }
}
// ok
@media (min-width: 600px) and (max-width: 800px){
    .main{
        min-width: 400px;
        min-height: 750px;
        max-height: 800px;
    }
}
// ok
@media (min-width: 400px) and (max-width: 600px){
    .main{
        min-width: 300px;
        max-height: 100vh;
        min-height: 700px;
    }
}
// ok
@media (min-width: 300px) and (max-width: 400px){
    .main{
        min-width: 300px;
        min-height: 98vh;        
        max-height: 500px;
        
    }
}