@import 'variables';

.header{
    width: 100%;
    height: 100%;

    background-color: $color-navbar;

    display: flex;
    align-items: center;
    justify-content: center;

    .navbar{
        width: 60%;
        height: 100%;
        min-width: 1140px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .menu-btn{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 100%;
            cursor: pointer;
            transition: all .5s ease-in-out;
            display: none;
        }
        .menu-btn__burger{
            width: 50px;
            height: 6px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .5s ease-in-out;
        }
        .menu-btn__burger::before,
        .menu-btn__burger::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 6px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .5s ease-in-out;
        }
        .menu-btn__burger::before {
            transform: translateY(-16px);
        }
        .menu-btn__burger::after {
            transform: translateY(16px);
        }
        .menu-btn.open .menu-btn__burger {
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
        }
        .menu-btn.open .menu-btn__burger::before {
            transform: rotate(45deg) translate(35px, -35px);
        }
        .menu-btn.open .menu-btn__burger::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }  

        .nav-links{
            display: flex;
            li{
                text-decoration: none;
                list-style: none;
                
                display: flex;
                align-items: flex-end;
                justify-content: left;
                
                a{
                    text-decoration: none;
                    font-size: 20px;

                    margin-left: 80px;

                    color: $font-color-1;
                }
            }
        }
    }
}

@media (min-width: 1100px) and (max-width: 1180px){
    .header{        
        .navbar{
            width: 95%;
            min-width: 400px;            
        }
    }
}

@media (min-width: 900px) and (max-width: 1099px){
    .header{
        .navbar{
            width: 95%;
            min-width: 400px;
        }
    }
}

@media (min-width: 800px) and (max-width: 900px){
    .header{
        .navbar{
            width: 95%;
            min-width: 400px;
        }
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .header{
        .navbar{
            width: 95%;
            min-width: 400px;
            .menu-btn{
                display: flex;
            }
            .nav-links{
                display: none;
            }
        }
    }       
}

@media (min-width: 400px) and (max-width: 600px){
    .header{
        .navbar{
            width: 95%;
            min-width: 400px;
            .menu-btn{
                display: flex;
            }
            .nav-links{
                display: none;
            }
            .nav-links.show{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 80vh;
                z-index: 99;                
                background-color: $color-navbar;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a{
                        margin-left: 0;
                        font-size: 80px;
                    }
                }
            }
        }
    }       
}

@media (min-width: 300px) and (max-width: 400px){
    .header{
        .navbar{
            width: 95%;
            min-width: 200px;
            .menu-btn{
                display: flex;
            }
            .nav-links{
                display: none;
                li{                    
                    a{
                        margin-left: 0;
                    }
                }
            }
        }
    }       
}