@import 'variables';

.obras{
    display: grid;
    grid-template-rows: repeat(80, 5%);
    grid-template-columns: repeat(20, 5%);
    width: 100%;
    height: 100%;
    background-color: $color-main-3;    
    .obras-title-1{
        grid-row-start: 1;
        font-size: 90px;
        color: $color-main-2;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }
    .obras-span-1{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 21;        
        margin-top: 30px;
        padding-left: 5px;
        height: 80px;
        background-color: $color-main-2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        .obras-ejecucion{
            font-size: 60px;
            color: $font-color-3;
        }
    }
    #proyecto{
        font-size: 12px;
        transition: all 0.3s ease-in-out;
    }    
    .proyecto-1{
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 7;
        display: flex;
        height: 300px;
        width: 100%;        
        border-radius: 16px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),
                    -4px -4px 8px rgba(0, 0, 0, 0.1);
        img{
            height: 300px;
            border-radius: 16px 0 0 16px;
        }
        .proyecto-descripcion{
            padding: 0 10px 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            color: $font-color-4;
            font-family: $font-main;
            font-size: 12px;            
        }
    }
    .proyecto-2{
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 15;
        display: flex;
        height: 300px;
        width: 100%;
        border-radius: 16px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),
                    -4px -4px 8px rgba(0, 0, 0, 0.1);        
        img{
            height: 300px;
            border-radius: 16px 0 0 16px;
        }
        .proyecto-descripcion{
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            color: $font-color-4;
        }        
    }
    .proyecto-3{
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 28;
        display: flex;
        height: 300px;
        width: 100%;
        border-radius: 16px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),
                    -4px -4px 8px rgba(0, 0, 0, 0.1);        
        
        img{
            height: 300px;
            border-radius: 16px 0 0 16px;
        }
        .proyecto-descripcion{
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            color: $font-color-4;
        }
    }
    .proyecto-4{
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 36;
        display: flex;
        height: 300px;
        width: 100%;
        border-radius: 16px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),
                    -4px -4px 8px rgba(0, 0, 0, 0.1);
        img{
            height: 300px;
            border-radius: 16px 0 0 16px;
        }
        .proyecto-descripcion{
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            color: $font-color-4;
        }
    }
    .proyecto-5{
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 44;
        display: flex;
        height: 300px;
        width: 100%;
        border-radius: 16px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),
                    -4px -4px 8px rgba(0, 0, 0, 0.1);
        img{
            height: 300px;
            border-radius: 16px 0 0 16px;
        }
        .proyecto-descripcion{
            display: flex;
            padding-left: 10px;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            color: $font-color-4;
        }
    }
    .obras-title-2{
        grid-row-start: 22;
        font-size: 90px;
        color: $color-main-2;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }
    .obras-span-2{
        grid-row-start: 24;
        grid-column-start: 1;
        grid-column-end: 21;
        margin-top: 30px;
        padding-left: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 80px;
        background-color: $color-main-2;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        .obras-finalizadas{
            font-size: 60px;
            color: $font-color-3;
        }
    }
    .footer{
        grid-row-start: 52;
        grid-column-start: 1;
        grid-column-end: 21;
        width: 100%;
        text-align: center;
    }
}
// ok
@media (min-width: 1100px) and (max-width: 1180px){
    .obras{        
        .obras-span-1{
            height: 70px;
            margin-top: 35px;
            .obras-ejecucion{
                font-size: 50px;
            }           
        }
        .obras-title-2{
            grid-row-start: 25;
        }
        .obras-span-2{
            height: 70px;
            margin-top: 35px;
            grid-row-start: 27;
            .obras-finalizadas{
                font-size: 50px;
            }           
        }
        #proyecto{
            font-size: 10px;
            transition: all 0.3s ease-in-out;
        }        
        .proyecto-2{
            grid-row-start: 16;
        }
        .proyecto-3{
            grid-row-start: 31;   
        }
        .proyecto-4{
            grid-row-start: 40;   
        }
        .proyecto-5{
            grid-row-start: 49;
        }
        .footer{
            grid-row-start: 58;   
        }
    }   
}
// ok
@media (min-width: 900px) and (max-width: 1100px){
    .obras{
        max-height: 700px;
        .obras-span-1{
            height: 65px;
            margin-top: 35px;
            .obras-ejecucion{
                font-size: 50px;
            }           
        }
        .obras-title-2{
            grid-row-start: 25;
        }
        .obras-span-2{
            height: 65px;
            margin-top: 35px;
            grid-row-start: 27;
            .obras-finalizadas{
                font-size: 50px;
            }           
        }
        #proyecto{
            font-size: 10px;
            transition: all 0.3s ease-in-out;
        }
        .proyecto-2{
            grid-row-start: 16;
        }
        .proyecto-3{
            grid-row-start: 31;   
        }
        .proyecto-4{
            grid-row-start: 40;   
        }
        .proyecto-5{
            grid-row-start: 49;
        }
        .footer{
            grid-row-start: 58;   
        }
    }   
}
// ok
@media (min-width: 800px) and (max-width: 900px){
    .obras{
        max-height: 700px;
        .obras-span-1{
            height: 65px;
            margin-top: 35px;
            .obras-ejecucion{
                font-size: 50px;
            }           
        }
        .obras-title-2{
            grid-row-start: 26;
        }
        .obras-span-2{
            height: 65px;
            margin-top: 35px;
            grid-row-start: 28;
            .obras-finalizadas{
                font-size: 50px;
            }           
        }
        #proyecto{
            font-size: 10px;
            transition: all 0.3s ease-in-out;
        }
        .proyecto-2{
            grid-row-start: 16;
        }
        .proyecto-3{
            grid-row-start: 32;   
        }
        .proyecto-4{
            grid-row-start: 41;   
        }
        .proyecto-5{
            grid-row-start: 50;
        }
        .footer{
            grid-row-start: 59;   
        }
    }   
}
// ok
@media (min-width: 600px) and (max-width: 800px){
    .obras{        
        min-height: 700px;
        max-height: 700px;
        grid-template-rows: repeat(160, 5%);
        .obras-title-1{
            font-size: 80px;            
        }
        .obras-title-2{
            font-size: 80px;
            grid-row-start: 36;
        }
        .obras-span-1{
            height: 55px;
            margin-top: 30px;            
            .obras-ejecucion{
                font-size: 40px;
            }           
        }
        .obras-span-2{
            height: 55px;
            margin-top: 30px;
            grid-row-start: 38;
            .obras-finalizadas{
                font-size: 40px;
            }           
        }
        #proyecto{
            font-size: 10px;
        }
        .proyecto-1{
            flex-direction: column;
            width: 100%;
            height: 480px;
            align-items: center;
            grid-row-start: 6;            
            img{
                margin: 10px 0 10px 0;
                width: 70%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-2{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 21;
            img{
                margin: 10px 0 10px 0;
                width: 70%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-3{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 41;
            img{
                margin: 20px 0 20px 0;
                width: 70%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-4{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 56;
            img{
                margin: 20px 0 20px 0;
                width: 70%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-5{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 71;
            img{
                margin: 20px 0 20px 0;
                width: 70%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .footer{
            grid-row-start: 86;
        }
    }   
}
// ok
@media (min-width: 400px) and (max-width: 600px){
    .obras{
        // padding-top: 15vw;
        // min-height: 800px;
        min-height: 700px;
        max-height: 700px;
        grid-template-rows: repeat(160, 5%);
        .obras-title-1{
            font-size: 80px;            
        }
        .obras-title-2{
            font-size: 80px;
            grid-row-start: 36;
        }
        .obras-span-1{
            height: 55px;
            margin-top: 30px;            
            .obras-ejecucion{
                font-size: 40px;
            }           
        }
        .obras-span-2{
            height: 55px;
            margin-top: 30px;
            grid-row-start: 38;
            .obras-finalizadas{
                font-size: 40px;
            }           
        }
        #proyecto{
            font-size: 10px;
        }
        .proyecto-1{
            flex-direction: column;
            width: 100%;
            height: 480px;
            align-items: center;
            grid-row-start: 6;
            img{
                margin: 10px 0 10px 0;
                width: 95%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-2{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 21;
            img{
                margin: 10px 0 10px 0;
                width: 95%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-3{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 41;
            img{
                margin: 20px 0 20px 0;
                width: 95%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-4{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 56;
            img{
                margin: 20px 0 20px 0;
                width: 95%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-5{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 71;
            img{
                margin: 20px 0 20px 0;
                width: 95%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .footer{
            grid-row-start: 87;
        }
    }   
}
// ok
@media (min-width: 300px) and (max-width: 400px){
    .obras{
        padding-top: 1vw;
        min-height: 700px;        
        grid-template-rows: repeat(160, 5%);
        .obras-title-1{
            font-size: 80px;            
        }
        .obras-title-2{
            font-size: 80px;
            grid-row-start: 36;
        }
        .obras-span-1{
            height: 55px;
            margin-top: 30px;            
            .obras-ejecucion{
                font-size: 40px;
            }           
        }
        .obras-span-2{
            height: 55px;
            margin-top: 30px;
            grid-row-start: 38;
            .obras-finalizadas{
                font-size: 40px;
            }           
        }
        #proyecto{
            font-size: 10px;
        }
        .proyecto-1{
            flex-direction: column;
            width: 100%;
            height: 480px;
            align-items: center;
            grid-row-start: 6;
            img{
                margin: 10px 0 10px 0;
                width: 95%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-2{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 21;
            img{
                margin: 10px 0 10px 0;
                width: 95%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-3{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 41;
            img{
                margin: 20px 0 20px 0;
                width: 95%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-4{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 56;
            img{
                margin: 20px 0 20px 0;
                width: 95%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .proyecto-5{
            flex-direction: column;
            width: 100%;
            height: 500px;
            align-items: center;
            grid-row-start: 71;
            img{
                margin: 20px 0 20px 0;
                width: 95%;
                height: auto;
                border-radius: 12px 12px 12px 12px;
            }
            .proyecto-descripcion{
                font-size: 10px;                
                height: 100%;
            }
        }
        .footer{
            grid-row-start: 86;
        }
    }   
}

