// Colores
$color-intro:#3D3D3D;
$color-navbar: #3D3D3D;
$color-main: #DFDFE2;
$color-main-3: #3d3d3d;
$font-color-1: rgba(196, 196, 196, .9);
$font-color-2: rgba(196, 196, 196, .5);
$font-color-3: #3D3D3D;
$font-color-4: #DFDFE2;
$color-main-2: #F2922E;
$color-main-3: #3D3D3D;

// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

$font-main: 'Poppins', sans-serif;
$font-main-2: 'Rubik', sans-serif;
$font-3: 'Roboto Slab', serif;
